<p id="notice"><%= notice %></p>

<p>
  <strong>Student number:</strong>
  <%= @submission.student_number %>
</p>

<p>
  <strong>Site url:</strong>
  <%= @submission.site_url %>
</p>

<p>
  <strong>Points:</strong>
  <%= @submission.points %>
</p>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
